/* src/NewReleases.css */
.new-releases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #3693a3, #000000); /* Gradient background */
    color: white;
    font-family: 'Roboto', sans-serif;
}

.new-releases h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin: 0;
}

.new-releases p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.buttonReleases{
    padding: 12.5px 32px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 56px;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
    line-height: 19px;
    text-align: center;
    border: none;
    cursor: pointer;
}