.productDisplay{
    display: flex;
    margin: 0px 20px;
}
.productdisplay-left{
    display: flex;
    gap: 20px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.productdisplay-img-list img{
    height: 150px;
}
.productdisplay-main-img{
    width:600px;
    height: auto;
}
.productdisplay-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    padding: 20px;
}

.productdisplay-price,
.productdisplay-description,
.productdisplay-size,
.AddtoCartButton {
    margin-bottom: 20px; /* Space between elements */
}

.productdisplay-size .right-size-icon {
    display: flex;
    gap: 10px; /* Space between size options */
    margin-top: 10px;
}

.right-size-icon div {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-size-icon div:hover {
    background-color: #f0f0f0;
}

.AddtoCartButton {
    border-radius: 2px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AddtoCartButton:hover {
    background-color: #0056b3;
}
.productdisplay-price{
    font-weight: bold;
}